Solución ejercicios SQLAlchemy  
===========================

## Ejercicios

1. Defina dos tablas (users y accounts) haciendo uso de SQLAlchemy con los siguientes atributos:
    * users: 
        - user_id: tipo Integer, es primary_key
        - username: tipo String, no pueder ser nulo, tiene que ser único
        - email_address: tipo String, no puede ser nulo
        - phone: tipo String, no puede ser nulo
        - password: tipo String, no puede ser nulo
        - created_on: tipo DateTime, tien por defecto la hora de creación
    * accounts:
        - accounts_id: tipo Integer, es primary_key
        - user_id: es ForeignKey de users.user_id
        - iban: tipo String
        - bic: tipo String
        - money: tipo Numeric con 2 decimales
        
2. Cree las tablas anteriormente definidas con ayuda de un conector SQLite en un fichero de nombre `test.db`. 
3. Introducta al menos 3 valores por cada tabla.
4. Lea todos los valores de las tablas para comprobar se han introducido de forma correcta.

In [1]:
from datetime import datetime
from sqlalchemy import Integer, Numeric, String, DateTime, MetaData, ForeignKey, Table, Column, create_engine

engine = create_engine('sqlite:///test.db', echo=True)

metadata = MetaData()

users = Table('users', metadata,
              Column('user_id', Integer(), primary_key=True),
              Column('username', String(15), nullable=False, unique=True),
              Column('email_address', String(255), nullable=False),
              Column('phone', String(20), nullable=False),
              Column('password', String(25), nullable=False),
              Column('created_on', DateTime(), default=datetime.now)
             )


accounts = Table('accounts', metadata,
                   Column('accounts_id', Integer(), primary_key=True),
                   Column('user_id', ForeignKey('users.user_id')),
                   Column('iban', String(24)),
                   Column('bic', String(11)),
                   Column('money', Numeric(12, 2))
                )

metadata.create_all(engine)

2021-07-13 20:48:15,506 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-07-13 20:48:15,507 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2021-07-13 20:48:15,508 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-13 20:48:15,511 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")
2021-07-13 20:48:15,513 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-13 20:48:15,515 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("accounts")
2021-07-13 20:48:15,517 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-13 20:48:15,518 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("accounts")
2021-07-13 20:48:15,519 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-13 20:48:15,522 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	user_id INTEGER NOT NULL,
	username VARCHAR(15) NOT NULL,
	email_address VARCHAR(255) NOT NULL,
	phone VARCHAR(20) NOT NULL,
	password VARCHAR(25) NOT NULL,
	created_on DATETIME,
	PRIMARY KEY (user_id),
	UNIQUE (username)
)


2021-07-13 20:48:15,523 INFO sqlalchemy.engine.Engine [no key 0.00132s] ()
2021-07-13 20:48:15,535 INFO sqlalchemy.engine.Engine
CREATE TABLE accounts (
	accounts_id INTEGER NOT NULL,
	user_id INTEGER,
	iban VARCHAR(24),
	bic VARCHAR(11),
	money NUMERIC(12, 2),
	PRIMARY KEY (accounts_id),
	FOREIGN KEY(user_id) REFERENCES users (user_id)
)


2021-07-13 20:48:15,536 INFO sqlalchemy.engine.Engine [no key 0.00116s] ()
2021-07-13 20:48:15,544 INFO sqlalchemy.engine.Engine COMMIT

In [2]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

#Inicio de la sesion
session = Session()

conn = engine.connect()

In [3]:
conn.execute(users.insert(), [
    {'username': 'RoyMur', 'email_address': 'roy.murray@example.com', 'phone': '5793532223', 'password': '$5&02qq'},
    {'username': 'Debar', 'email_address': 'debra@example.com', 'phone': '13472995333', 'password': '%yr6&23ca'},
    {'username': 'Bemore', 'email_address': 'becky.moreno@example.com', 'phone': '9474992253', 'password': '$534^3q4q'}
])

result1 = conn.execute(accounts.insert(), [
    {'user_id': 1, 'iban': '25626055778', 'bic': '3456123', 'money': 1000.00},
    {'user_id': 2, 'iban': '34435461222', 'bic': '1243253', 'money': 10234.07},
    {'user_id': 3, 'iban': '80324634122', 'bic': '0345456', 'money': 107800.33},
])

2021-07-13 20:48:15,771 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email_address, phone, password, created_on) VALUES (?, ?, ?, ?, ?)
2021-07-13 20:48:15,772 INFO sqlalchemy.engine.Engine [generated in 0.00195s] (('RoyMur', 'roy.murray@example.com', '5793532223', '$5&02qq', '2021-07-13 20:48:15.771091'), ('Debar', 'debra@example.com', '13472995333', '%yr6&23ca', '2021-07-13 20:48:15.771091'), ('Bemore', 'becky.moreno@example.com', '9474992253', '$534^3q4q', '2021-07-13 20:48:15.771091'))
2021-07-13 20:48:15,780 INFO sqlalchemy.engine.Engine COMMIT
2021-07-13 20:48:15,795 INFO sqlalchemy.engine.Engine INSERT INTO accounts (user_id, iban, bic, money) VALUES (?, ?, ?, ?)
2021-07-13 20:48:15,797 INFO sqlalchemy.engine.Engine [generated in 0.00256s] ((1, '25626055778', '3456123', 1000.0), (2, '34435461222', '1243253', 10234.07), (3, '80324634122', '0345456', 107800.33))
2021-07-13 20:48:15,800 INFO sqlalchemy.engine.Engine COMMIT

In [4]:
from sqlalchemy.sql import select
s = select([users])
result = conn.execute(s)
result.fetchall()

2021-07-13 20:48:15,825 INFO sqlalchemy.engine.Engine SELECT users.user_id, users.username, users.email_address, users.phone, users.password, users.created_on
FROM users
2021-07-13 20:48:15,827 INFO sqlalchemy.engine.Engine [generated in 0.00142s] ()

[(1, 'RoyMur', 'roy.murray@example.com', '5793532223', '$5&02qq', datetime.datetime(2021, 7, 13, 20, 48, 15, 771091)),
 (2, 'Debar', 'debra@example.com', '13472995333', '%yr6&23ca', datetime.datetime(2021, 7, 13, 20, 48, 15, 771091)),
 (3, 'Bemore', 'becky.moreno@example.com', '9474992253', '$534^3q4q', datetime.datetime(2021, 7, 13, 20, 48, 15, 771091))]

In [5]:
s = select([accounts])
result = conn.execute(s)
result.fetchall()

2021-07-13 20:48:15,871 INFO sqlalchemy.engine.Engine SELECT accounts.accounts_id, accounts.user_id, accounts.iban, accounts.bic, accounts.money
FROM accounts
2021-07-13 20:48:15,873 INFO sqlalchemy.engine.Engine [generated in 0.00208s] ()
c:\Users\Carlos\Documents\GitHub\Pandas-SQL\.venv\lib\site-packages\ipykernel_launcher.py:2: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.

[(1, 1, '25626055778', '3456123', Decimal('1000.00')),
 (2, 2, '34435461222', '1243253', Decimal('10234.07')),
 (3, 3, '80324634122', '0345456', Decimal('107800.33'))]

In [6]:
conn.close()